:root {
    --orange-color: #FF7B00;
    --yellow-color: #FFBE0B;
    --dark-orange-color: #FB5607;
    --blue-color: #1849C6;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    max-width: 1245px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 8px 18px;
    border-radius: 10px;
    color: black;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    border: 0;
}

.btn.yellow {
    background-color: var(--yellow-color);
}
.btn.white{
    background-color: #E8EFFF;
}

.btn.primary {
    background-color: var(--blue-color);
}

.btn.write-icon::before {
    content: url("images/write-icon.svg");
    position: absolute;
    top: 60%;
    right: 32px;
    transform: translateY(-50%);
}

.btn.write-icon {
    padding-right: 60px;
}

header {
    background-image: url("images/hero.png");

}

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 1245px;
    top: 0;
    padding: 36px 0;
    z-index: 100;
}

nav.scrolled {
    background: var(--dark-color);
    box-shadow: 0 16px 14px -8px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 8px 8px;
    top: 0;
    padding: 12px;
}

nav .logo {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

.logo.main-logo::before {
    content: url("images/logo.svg");
    position: absolute;
    top: 60%;
    left: 32px;
    transform: translate(-200%, -90%);
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    margin: 0;
}

nav ul li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;

    text-decoration: none;
    color: #FFFFFF;
}

.hero-section {
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 190px;
    color: #fff;
    text-align: center;
}

.hero-section h1 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 60px;
line-height: 75px;

}

.featured-section {
    width: 1240px;
    height: 790.03px;
    padding:90px
   
}

.featured-section h2 {
    text-align: center;
}

.featured-section p {
    text-align: center;
}

.featured-section .featured-cards {
    display: flex;
    gap: 20px;
    margin: 0;
}

.featured-section .featured-card {
    background: #F6F8FD;
    border: 1px solid #F9F9F9;
    border-radius: 10px;
}

.featured-section .featured-cards .featured-card .btn {
  color: white;
  margin: auto;
  display: block;


}

.info ul {
    padding-left: 12px;
}

.info ul li {
    display: flex;

}

.info ul li img {
    margin-right: 6px;

}

.info ul li h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.listing-section {
    position: absolute;
    width: 1240px;
    height: 790.03px;
    flex-direction: row;
    left: 100px;
    top: 709px;
}

section {
    margin-top: 1px;
}

.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px;
}
.section-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.search{
    display: flex;
    justify-content: space-around;
    margin: 50px 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 20px;
    border-radius: 10px;
}

.search div label{
    display: block;
}

.listings{
    padding: 20px 40px ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.listings .listing-card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.listings .listing-card div{
    padding: 10px;
}


.listings .listing-card .detail{
    display: flex;
}

.listings .listing-card .detail img{
    margin-right: 10px;
}

.listings .listing-card  button{
    color: #FFFFFF;
    margin: auto;
    display: block;
}
.section-6 .btn{
    margin: auto;
    display: block;
}
.section-6{
    background: #E8EFFF;
    justify-content: space-between;
    align-items: center;
   
border-radius: 0px 0px 300px 0px;
}
.section-6 .left h1{
    font-family: 'Poppins';
font-weight: 700;
font-size: 35px;
padding: auto;
line-height: 30px;
}
.section-6 .left p {
    font-family: 'Poppins';
font-weight: 400;
font-size: 18px;
line-height: 30px;

color: rgba(0, 1, 3, 0.7);
}

  .section-6 .section-6-items{
    display: flex;
    
  }

  .section-6 img{
    object-fit: contain;
  }
  
  
  .section-6 .right  {
    height: 520px;
    vertical-align: middle;
    display:block;
    padding: 100px;
  } 
  .section-6 .right button .btn{
   padding: 900px;
  }
  .section-6 .top-img {
      position: absolute;
      z-index: 70;
      transform: translate(-90%, 47%);

  }

  .section-6 .section-6-items{
    display: flex;
  }


  .section-6{
    background: #E8EFFF;
   
border-radius: 0px 0px 300px 0px;
} 

.section-7 .left h1{
font-family: 'Poppins';
font-weight: 700;
font-size: 35px;
line-height: 30px;
}
.section-7 .left{
    height: 520px;
    vertical-align: middle;
    display:block;
    padding: 100px;
}

.section-7 .left p {
    font-family: 'Poppins';
font-weight: 400;
font-size: 18px;
line-height: 30px;

color: rgba(0, 1, 3, 0.7);
}

  .section-7 .section-7-items{
    display: flex;
  }
  
  .section-7 .right {
    align-self: flex-end;
    display: block;
  }
  .section-7 .right img {
    height: 520px;
    vertical-align: middle;
    display:block;
  }

  .section-8{
    background: #1849C6;
    background-image: url("images/learn.png");
    border-radius: 300px 0px 0px 0px;
    margin-top: -37px;
    z-index: 10;
  }
  .section-8 h1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    /* or 143% */
    
    text-align: center;
    
    color: #FFFFFF;
  }
  .section-8 p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
  }
  .section-8 .learning-cards{
    box-shadow: rgba(180, 155, 155, 0.24) 0px 3px 8px;
    border-radius: 10px;
    background-color: white;
    color: #2F2F2F;
  }
  .section-8 .learning-cards p{
    color: #2F2F2F;
  }

.section-8 .learning-cards div{
    padding: 0px;
    
}

.section-8 .learning-cards button{
    color: #FFFFFF;
    margin: auto;
    display: block;
}
.section-8 .learning{
    padding: 20px 40px ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.section-8 .btn {
    margin: auto;
    display: block;
    height: 80px;
    
    
}
.section-9{
    background-image:url("images/queries.png");
    padding: 90px;
}
.section-9 .queries-card{
   
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin: 20px 200px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:10px;
    border-radius: 10px;
    width: 929px;
height: 295px;
}

.section-9 .queries-card .right{
    padding: 50px;
    margin: 20px 20px;
}
.section-9 .queries-card .left{
    padding: 10px;
    margin: 20px 20px;
}

footer {
    background: var(--light-color);
    color: #4A4A4A;
    margin-top: 100px;
    padding: 70px 90px;
  }
  
  footer a {
    text-decoration: none;
    color: #4A4A4A;
  }
  
  footer h3 {
    color: #212121;
  }
  
  footer ul {
    list-style: none;
    padding-left: 20px;
  }
  
  footer ul li {
    margin: 16px 0;
  }
  
  footer .links-container {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
  }
  
  footer .social {
    margin-left: 20px;
  }
  
  footer .social a {
    margin-right: 28px;
  }
  
  footer form {
    margin-left: 20px;
    margin-top: 16px;
    position: relative;
  }
  
  footer form input {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    border-radius: 8px;
    padding: 8px 160px 8px 32px;
    border: none;
    width: 100%;
    color: #000000;
  }
  
  footer form .submit-btn {
    position: absolute;
    
    transform: translateY(-50%);
    background: var(--dark-blue-color);
    border-radius: 8px;
    
    font-family: "Poppins", sans-serif;

    font-size: 16px;
    color: white;
    cursor: pointer;
  }
